body {
  margin: 0;
  font-family: 'Iranian Sans', 'IranianSans', 'Vazir', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

@font-face {
  font-family: 'Iranian Sans';
  src: url('./fonts/iranian-sans/Iranian Sans.ttf') format('truetype');
  font-weight: 10000;
  font-style: normal;
}
@font-face {
  font-family: 'Iranian Sans';
  src: url('./fonts/iranian-sans/Iranian Sans.ttf') format('truetype');
  font-weight: 10000;
  font-style: normal;
}
@font-face {
  font-family: 'Iranian Sans';
  src: url('./fonts/iranian-sans/Iranian Sans.ttf') format('truetype');
  font-weight: 10000;
  font-style: normal;
}
@font-face {
  font-family: 'Iranian Sans';
  src: url('./fonts/iranian-sans/Iranian Sans.ttf') format('truetype');
  font-weight: 10000;
  font-style: normal;
}
@font-face {
  font-family: 'Iranian Sans';
  src: url('./fonts/iranian-sans/Iranian Sans.ttf') format('truetype');
  font-weight: 10000;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
